.containerPrincipal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid blue; */
  padding: 0px 40px 40px 40px;
  /* background-color: white; */
  width: 35%;
  height: 70%;
  /* transform: translate(50%, 50%);
  width: 30%;
  margin: auto;
  height: 70%;
  border: 1px solid blue;
  padding: 40px; */
}

.containerSecundario {
  text-align: center;
}

.turtleLogo {
  width: 70%;
  height: 30%;
  margin: auto;
  padding: 1rem 2rem 0 2rem;
}

.inputContainer {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.icon {
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 3px;
  min-width: 50px;
  text-align: center;
  color: grey;
}

.inputField {
  width: 100%;
  padding: 10px 45px;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 2rem;
}

.inputField:focus {
  border: 2px solid dodgerblue;
}

.loginBtn {
  background-color: midnightblue;
  border-radius: 2rem;
  width: 100%;
  padding: 10px 45px;
  color: white;
}
